<!DOCTYPE html>
<html>
  <head>
    <title>Kickstarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('K.png') %>

  <script type="text/javascript">
    window.logo = "<%= image_url('logo.png') %>";
    window.rocket = "<%= image_url('rocket.png') %>";
    window.background = "<%= image_url('background.png') %>";
    window.test = "<%= image_url('women.png') %>";
    window.k = "<%= image_url('K.png') %>";

  </script>  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
